.profileContainer {
  padding: 20px;
  margin: auto;
  width: 100%;
  max-width: 800px;
  min-height: 400px;
  display: flex;
  justify-content: center;
  background: radial-gradient(
    ellipse at left bottom,
    rgb(9, 42, 104) 0%,
    rgba(56, 72, 20, 0.9) 59%,
    rgba(17, 75, 62, 0.9) 100%
  )
} 

.titleContainer {  
  margin: auto;
  height: 20px;
  max-width: 800px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: radial-gradient(
    rgba(56, 72, 20, 0.9) 59%,
    rgba(17, 75, 62, 0.9) 100%
  )
}

.leftContainer {
  margin: auto;
  margin-top: 50px;
  flex-direction: column;
  align-content: flex-start;
  height: auto;
  padding: 10px 0;
}

.rightContainer {
  margin: auto;
  margin-top: 50px;
  flex-direction: column;
  align-content: flex-end;
  height: auto;
  padding: 10px 0;
}

.label {
  color: white;
  margin: 14px 0;
  display: block;
  font-size: 18px;
  line-height: 1;
  font-weight: bold;
}

.editLabel {
  color: white;
  margin: 14px 0;
  display: block;
  font-size: 16px;
  line-height: 1;
  font-weight: bold;
}

.labelValue {
  color: white;
  margin: 14px 0;
  display: block;
  font-size: 16px;
  line-height: 1;
  text-decoration: underline;
  text-underline-position: under;
  margin-bottom: 2.5rem;
}

.editButtonContainer {
  justify-content: center;
  margin: auto;
  height: 40px;
  max-width: 800px;
  display: flex;
  background: radial-gradient(
    rgb(9, 42, 104) 0%,
    rgba(56, 72, 20, 0.9) 59%,
    rgba(17, 75, 62, 0.9) 100%
  )
}

.buttonEdit {
  color: #fff;
  background-color: #5a4fcf;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  width: 50px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid white;
}
.buttonUpdate {
  color: #fff;
  background-color: #4fcf60;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  width: 80px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid white;
  margin-right: 90px;
}
.buttonCancel {
  color: #fff;
  background-color: #cf4f64;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  width: 55px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid white;
}

.buttonEdit:hover {
  transition: all 0.2s ease-in-out;
  background: #fff;
  color: #010606;
}

.buttonCancel:hover {
  transition: all 0.2s ease-in-out;
  background: #fff;
  color: #010606;
}
.buttonUpdate:hover {
  transition: all 0.2s ease-in-out;
  background: #fff;
  color: #010606;
}

.editContainer {
  padding: 20px;
  margin: auto;
  width: 100%;
  max-width: 800px;
  min-height: 450px;
  display: flex;
  justify-content: center;
  background: radial-gradient(
    ellipse at left bottom,
    rgb(9, 42, 104) 0%,
    rgba(56, 72, 20, 0.9) 59%,
    rgba(17, 75, 62, 0.9) 100%
  )
} 

.editInput {
  width: 250px;
  font-size: 16px;
  padding: 1px;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

.editPhoneNr {
  width: 150px;
  font-size: 16px;
  padding: 1px;
  letter-spacing: 1px; 
  margin-bottom: 1rem;
}
select {
  font-size: .9rem;
  padding: 2px 5px;
  margin-bottom: 1rem;
}
.errorMsg {
  color: red;
  font-size: 12px;
}
.deleteBTN {
  color: #8B0000;
  margin-left: 95px;
  margin-bottom: auto;
}
.cvContainer{
  display: flex;
}
